body.front {
	background: url("../images/nscad/NSCAD-header-home-shadowed.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
