/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";
@import "components/islandora";
@import "components/pages";
@import "components/header/header";
@import "components/footer-social-media-menu/footer-social-media-menu";
@import "components/media-queries/media-queries";
@import "components/internet-archive-bookreader/internet-archive-bookreader";
@import "components/nscad-film-collections/page-display";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
