////////////////////////
// Pages Styling
////////////////////////

#header, #footer {
	background: black;
	height: 45px;
	width: 100%;
	position: absolute;
	left: 0; right: 0;
	z-index: 50;
	padding-left: 3.5em;
}

#footer {
	margin-top: 3em;
	.footer-content {
		margin: 0;
		a {
			text-transform: uppercase;
			text-decoration: none;
			font-size: 90%;
			letter-spacing: 0.5pt;
			line-height: 4em;
			&:link, &:visited {
				color: white;
			}
		    &:hover, &:active {
				color: #ccc;
		    }	
		}
	}
}

#name-and-slogan, #main-menu {
	float: left;
	clear: left;
}

//////////////////////////
// About Node Page Styling
//////////////////////////
.page-node {
	article {
		header {
			min-height: 0px;
		}

		a {
			color: blue;
		}

		.nscad-un-data {
			.about-box {
				border: 1px solid black;
				display: inline-block;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 30px;

				&.about--right-column {
					border-left: none;
				}
                //
				//&.about--left-column {
				//	border: 1px solid black;
				//}
			}

		}
	}
}

.block.footer-content {
	width: auto;
	display: inline-block;

	.footer-menu-anchors {
		a {
			&.last {
				padding-left: 15px;
			}
		}
	}
}